* {
    box-sizing: border-box;
  }

:root {
    --dark: rgb(36, 131, 155);
    --light: rgb(230, 243, 248);
    --offWhite: rgb(249, 246, 250);
    --hoverShadow: rgb(216, 170, 233);
    --gray: rgb(141, 150, 145);
    --redBtn: rgb(185, 88, 88);
    --greenBtn: rgb(98, 163, 114);
    }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(0deg, var(--dark) 0%, var(--light) 70%);
  }

  .title {
    font-size: 5vh;
    color: var(--dark);
    justify-content:space-between;
    border-radius: 8px;
    border-color: var(--dark);
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
  }
  
  .score-time {
    color: var(--dark);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 3vh;
    align-items: center;
    list-style-type: none;
    padding: 0 5rem;
    min-height: 3vh;
  }

  .instructions {
    color: var(--gray);
    font-size: 2vh;
    font-style: italic;
    text-align:center;
  }
    
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #card {
    display: block;
    background-color:var(--offWhite);
    border: solid 5px var(--dark);
    border-radius: 30px;
    width: 70%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
  }

  
  #cardEndQuiz {
    display: block;
    background-color:var(--offWhite);
    border: solid 5px var(--dark);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 2vw;
  }

  #greeting{
    font-size: 2.5vh;
  }

  #instruct{
    font-size: 2vh;
  }

  h3 {
    font-size: 2vh;
  }

  textarea {
    font-size: 4vh;
    text-align: center;
  }

  #cardHighScores {
    display: block;
    background-color:var(--offWhite);
    border: solid 5px var(--dark);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
  }

  #question {
    margin: 40px;
    font-size: 2vh;
    text-align: center;
  }

  #outcomeAlert{
    border-top: solid 5px var(--gray);
    display: flex;
    flex-direction: column;
  }

  .list {
    font-size: 4vh;
    min-width: 90%;
    text-align: left;
    font-weight: bold;
  }

  .highScoresList li {
    font-size: 2vh;
    list-style: none;
    padding: 2px 5px;
    margin: 5px 50px 5px 0px;
  }

  .choice,
  .highS {
    font-size: 3vh;
    margin: 0vh 1vh;
    flex-direction: column;
    text-align: left;
    min-width: 50%;
    background-color: var(--offWhite);
  }

  #response {
  margin: 1vh 4vh;
  font-size: 2.5vh;
  }

  .start-button {
    display: flex;
    flex-direction: row;
    background-color: var(--dark);
    border-radius: 8px;
    color: var(--offWhite);
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 50vw;
    padding: 20px 52px;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .btn {
    border-radius: 8px;
    border: solid 2px black;
    color: var(--offWhite);
    cursor: pointer;
    font-size: 2vh;
    padding: 20px 52px;
    margin: 20px;
  }

  .saveButton,
  .tryAgainButton2,
  .nextButton {
    background-color: var(--greenBtn);
  }

  .nextButton{
    max-width: 30%;
    margin-left: 4vh;
  }

  .clearHighScores {
    background-color: var(--gray);
  }

  .viewAllHighScores {
    color: black;
    background-color: rgba(247, 247, 173, 0.959);
  }

  .tryAgainButton{
    background-color: var(--redBtn);
  }
  
  /* ----- PSUEDO SELECTORS ----- */

  button :hover{
    color: var(--hoverShadow);
    box-shadow: 0 0 5rem var(--hovershadow);
    font-weight: bold;
  }
  
  @media screen and (max-width: 504px) {
    body {
        font-size: smaller;
    }
}