* {
    box-sizing: border-box;
  }

:root {
    --dark: rgb(36, 131, 155);
    --light: rgb(230, 243, 248);
    --offWhite: rgb(249, 246, 250);
    --hoverShadow: rgb(216, 170, 233);
    --gray: rgb(141, 150, 145);
    --redBtn: rgb(185, 88, 88);
    --greenBtn: rgb(98, 163, 114);
    }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(0deg, var(--dark) 0%, var(--light) 70%);
  }

  .title {
    font-size: 5vw;
    color: var(--dark);
    justify-content:space-between;
    border-radius: 8px;
    border-color: var(--dark);
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    margin-bottom: 2vh;;
  }
  
  .score-time {
    display: flex;
    justify-content: space-around;
    font-size: 2vw;
    list-style-type: none;
    padding: 0 5rem;
    flex-wrap: wrap;
  }

  .instructions {
    color: var(--gray);
    font-size: 2vw;
    font-style: italic;
    text-align:center;
    flex-wrap: wrap;
  }
    
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #card {
    display: block;
    background-color:var(--offWhite);
    border: solid 5px var(--dark);
    border-radius: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
  }

  
  #cardEndQuiz {
    display: block;
    background-color:var(--offWhite);
    border: solid 5px var(--dark);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 2vw;
  }

  #greeting,
  #instruct,
  h3{
    font-size: 2vw;
  }

  textarea {
    font-size: 3vw;
    text-align: center;
  }

  #cardHighScores {
    display: block;
    background-color:var(--offWhite);
    border: solid 5px var(--dark);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin: 1rem 3rem;
  }

  #question {
    margin-top: 4vh;
    font-size: 3vw;
    text-align: left;
    padding-left: 2rem;
  }

  .list {
    font-size: 3vw;
    text-align: left;
    font-weight: bold;
    margin: 1vh;
    padding-inline-start: 2px;
    display: flex;
    flex-direction: column;
  }

  .highScoresList li {
    font-size: 2vw;
    list-style: none;
    padding: 2px 5px;
    margin: 5px 50px 5px 0px;
  }

  .choice,
  .highS {
    font-size: 2vw;
    margin: 0vh 1vh;
    flex-direction: column;
    text-align: left;
    min-width: 50%;
  }

  .choice{
    border: solid 2px black;
    margin: 1vh 1vh;
  }


  #response {
  margin: 1vh 4vh;
  font-size: 2vw;
  }

  .start-button {
    display: flex;
    flex-direction: row;
    background-color: var(--dark);
    border-radius: 8px;
    color: var(--offWhite);
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 50vw;
    padding: 20px 52px;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .btn {
    border-radius: 8px;
    border: solid 2px black;
    color: var(--offWhite);
    cursor: pointer;
    font-size: 2vw;
    padding: 20px 52px;
    margin: 20px;
  }

  .saveButton,
  .tryAgainButton2 {
    background-color: var(--greenBtn);
  }

  .nextButton{
    padding: 2px 4px;
    background-color: var(--offWhite);
    color: var(--dark);
    font-size: 2vw;
  }

  .clearHighScores {
    background-color: var(--gray);
  }

  .viewAllHighScores {
    color: black;
    background-color: rgba(247, 247, 173, 0.959);
  }

  .tryAgainButton{
    background-color: var(--redBtn);
  }
  
  /* ----- PSUEDO SELECTORS ----- */

  button :hover{
    color: var(--hoverShadow);
    box-shadow: 0 0 5rem var(--hovershadow);
    font-weight: bold;
  }
  
  @media screen and (max-width: 318px) {
    body {
        font-size: larger;
    }
}