* {
    box-sizing: border-box;
  }

:root {
    --dark: rgb(36, 131, 155);
    --light: rgb(230, 243, 248);
    --offWhite: rgb(249, 246, 250);
    --hoverShadow: rgb(216, 170, 233);
    --gray: rgb(141, 150, 145);
    --redBtn: rgb(185, 88, 88);
    --greenBtn: rgb(98, 163, 114);
    }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(0deg, var(--dark) 0%, var(--light) 70%);
  }

  header,
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  header{
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 4rem;
    color: var(--dark);
    margin: 10px;
    border-radius: 8px;
    border-color: var(--dark);
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
  }

  .score-time {
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    list-style-type: none;
    padding: 0 5rem;
    flex-wrap: wrap;
  }

  #introCard {
    width: 80%;
    text-align: center;
  }

  .instructions {
    color: var(--gray);
    font-size: 1rem;
    text-align:center;
    flex-wrap: wrap;
  }

  .start-button {
    background-color: var(--dark);
    border-radius: 8px;
    color: var(--offWhite);
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 0.21px;
    padding: 5px 15px;
    margin-top: 0.6em;
  }

  #card {
    background-color:var(--offWhite);
    border: solid 4px var(--dark);
    border-radius: 20px;
    flex-direction: column;
    text-align: left;
    align-items: center;
    margin: 2rem 3rem;
  }

  #question {
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
  }

  .list {
    text-align: center;
    font-weight: bold;
    margin: 1vh;
    padding-inline-start: 2px;
    display: flex;
    flex-direction: column;
  }
  
  .choice {
    font-size: 1rem;
    flex-direction: column;
    text-align: left;
    min-width: 50%;
    border: solid 2px black;
    border-radius: 8px;
    margin: 3px 3rem 3px 0px;  
  }

  .responseNext{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px;
  }

  #response {
    font-size: 1rem;
    text-align: center;
    margin: 0px;
  }

  .nextButton{
    padding: 2px 4px;
    background-color: var(--offWhite);
    color: var(--dark);
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    margin: 15px 0px;
  }




  #cardEndQuiz {
    display: block;
    background-color:var(--offWhite);
    border: solid 5px var(--dark);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 2vw;
    width: 50%;
  }

  #greeting,
  #instruct,
  h3{
    font-size: 1rem;
  }

  textarea {
    font-size: 3vw;
    text-align: center;
  }

  #cardHighScores {
    display: block;
    background-color:var(--offWhite);
    border: solid 5px var(--dark);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin: 1rem 3rem;
    width: 50%;
  }



  .highScoresList li {
    font-size: 1rem;
    list-style: none;
    padding: 2px 5px;
    margin: 5px 50px 5px 0px;
  }

  .highS {
    font-size: 1rem;
    margin: 0vh 1vh;
    flex-direction: column;
    text-align: left;
    min-width: 50%;
  }








  .center {
    display: flex;
    justify-content: center;
  }

  /* .btn {
    display: flex;
    border-radius: 8px;
    border: solid 2px black;
    color: var(--offWhite);
    cursor: pointer;
    font-size: 1rem;
    padding: 20px 52px;
    margin: 20px;
    width: fit-content;
  } */

  .saveButton,
  .tryAgainButton2 {
    background-color: var(--greenBtn);
  }



  .clearHighScores {
    background-color: var(--gray);
  }

  .viewAllHighScores {
    color: black;
    background-color: rgba(247, 247, 173, 0.959);
  }

  .tryAgainButton{
    background-color: var(--redBtn);
  }
  
  /* ----- PSUEDO SELECTORS ----- */

  button :hover{
    color: var(--hoverShadow);
    box-shadow: 0 0 5rem var(--hovershadow);
    font-weight: bold;
  }
  
  @media screen and (max-width: 318px) {
    body {
        font-size: larger;
    }
}